# Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Terraform plan files
*.tfplan

# Terraform lock file
.terraform.lock.hcl

# Terraform working directory
.terraform/

# Crash logs
crash.log

# Local environment files
*.env

# Editor backup files
*~
*.swp
*.swo

# macOS-specific files
.DS_Store

# Ignore Trivy database files
.cache/trivy/db/trivy.db
.cache/trivy/java-db/trivy-java.db

# Ignore AWS CLI zip file
awscliv2.zip
